:root {
  --stanford-red: #8c1515;
  --stanford-red-bg: #f9f6f2;
  --stanford-gray: #4d4f53;
}

body {
  background-color: var(--stanford-red);
  color: #222;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

.header,
.hero-section {
  background: var(--stanford-red);
  color: #fff;
  padding: 2rem 1rem;
}

.navbar {
  background: var(--stanford-red);
  border-bottom: 1px solid #e5e5e5;
}

.navbar a,
.navbar-brand {
  color: #fff !important;
  font-weight: bold;
}

.section-title {
  color: var(--stanford-red-bg);
  font-weight: bold;
}

.section-title-white {
  color: var(--stanford-red);
  font-weight: bold;
}

.contact-icons a {
  color: var(--stanford-red);
  margin-right: 1rem;
  font-size: 1.5rem;
}

.hero-section {
  min-height: calc(100vh - 76px);
  display: flex;
  align-items: center;
  padding: 0;
}

.swiper-hero-bg {
  background: #fff;
  border-radius: 2rem;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
}

.about-section {
  background: var(--stanford-red-bg);
  color: #222;
}

.about-section img {
  object-fit: cover;
  height: 100%;
  min-height: 300px;
  max-height: 500px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card {
  border: none;
  border-radius: 1rem;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  margin-bottom: 1.5rem;
  position: relative;
  background: #fff;
}
.card-title {
  color: var(--stanford-red);
  font-weight: 700;
}

.card::before {
  content: "";
  display: block;
  height: 6px;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.card-body {
  background: #faf7f7;
  border-radius: 0 0 1rem 1rem;
  padding-top: 1.25rem;
}

.card:hover {
  transform: translateY(-4px) scale(1.01);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 8px 32px rgba(140, 21, 21, 0.12),
    0 3px 8px rgba(140, 21, 21, 0.1);
}

.footer {
  background: var(--stanford-gray);
  color: #fff;
  padding: 2rem 0;
  text-align: center;
}

.sticky-top {
  z-index: 1020;
}

section {
  scroll-margin-top: 76px;
}

.pop-image:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1000px) {
  section {
    scroll-margin-top: 30vh;
  }
}
